@charset "UTF-8";

@media screen and (max-width:439px) {

    /* ----- common ----- */
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 100%;
        scroll-behavior: smooth;
    }

    body {
        position: relative;
        font-family: "M PLUS Rounded 1c", "マメロン 3 Hi Regular", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
        line-height: 1.7;
        color: #432;
        background-color: #fffef9;
    }

    a {
        text-decoration: none;
        color: #432;
        position: relative;
    }

    img {
        max-width: 100%;
        width: auto;
        border-radius: 30px;
    }

    ul {
        position: relative;
    }

    li {
        margin-bottom: 10px;
        text-indent: -1rem;
    }

    .wrapper {
        font-size: 1.075rem;
        max-width: 370px;
        margin: 0 auto;
        padding: 0 4%;
    }

    /* ----- hedaer ----- */
    .title {
        margin-top: 28px;
        font-size: 1.5rem;
    }

    .main-nav {
        display: flex;
        font-size: 1.2rem;
        margin-top: 10px;
        list-style: none;
    }

    .main-nav li {
        margin: 0 30px;
    }

    .main-nav a {
        color: #432;
    }

    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* ----- title ----- */
    .home-content {
        text-align: center;
        margin-top: 5%;
    }
    .home-content p {
        font-size: 1.125rem;
        margin: 10px 0 0;
    }

    .page-title {
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: .50rem;
    }
    .page-subtitle {
        line-height: 2;
        font-size: 1rem;
        margin-top: 0.8rem;
        letter-spacing: .30rem;
    }
    .title-wrapper {
        text-align: center;
        position: relative;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        max-width: 370px;
        margin: 0 auto;
        padding: 0;
    }

    /* ----- opening animation ----- */
    .l-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .c-loader-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #020202;
        z-index: 999;
        display: grid;
        place-items: center;
        pointer-events: none;
    }
    .c-optext {
        display: inline-flex;
        align-items: center;
        justify-content: start;
        pointer-events: none;
    }
    .c-optext>span {
        display: block;
        font-size: 2rem;
        font-size: bold;
        color: #fffef9;
    }
    .c-optext>span+span {
        margin-left: 1rem;
    }

    .c-mv {
        margin-top: 5%;
        position: relative;
        /* min-height: 10rem; */
        margin: 0 2rem;
    }

    .c-mv_tit-item {
        font-size: 2rem;
        line-height:1.2;
        letter-spacing: .50rem;
    }
    .c-mv_title {
        text-align: center;
    }

    .c-mv_tit-wrap {
        text-align: center;
        position: relative;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
        padding: 0 1rem 0 0.5rem;
    }

    .c-mv_tit-item span {
        /* transformプロパティを有効にするため */
        display: inline-block;
    }
    .c-mv_tit-read {
        line-height: 2;
        font-size: 19.2px;
        margin: 10px 0 25px;
        letter-spacing: .30rem;
    }

    /* ----- main ----- */

    article,
    aside {
        width: 100%;
    }

    .split {
        display: table;
        width: 100%;
    }
    .split-item {
        display: table-cell;
    }
    .split-left {
        width: 100%;
    }
    .split-right {
        display: none;
    }
    .split-solid {
        height: 100%;
        padding: 8% 0;
        position: fixed;
    }

    .chapter-title {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 4px dotted #0bd;
        margin-bottom: 5%;
    }

    .sub-title {
        text-align: center;
        font-size: 1.35rem;
        font-weight: normal;
        border-bottom: 4px double #3da;
        margin-top: 15%;
        margin-bottom: 5%;
        padding-bottom: 3%;
    }

    .main-content {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .horizontal {
        display: flex;
    }
    .horizontal img {
        max-width: 200px;
        margin-left: auto;
        padding: 0;
        overflow: hidden;
        position: relative;
    }
    .horizontal p {
        margin: 20px 0 0 20px;
        padding: 0;
    }

    .his-content {
        margin: 20px 0 0 30px;
    }
    .his-content:before {
        content: "";
        position: absolute;
        left: -2.4%;
        top: -2%;
        background: #00A5BF;
        width: 3px;
        height: 110%;
    }

    .border-style {
        list-style: none;
    }
    .border-style:before {
        content: "";
        position: relative;
        left: -3%;
        top: 0%;
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        background: #00A5BF;
    }

    /* ----- works ----- */
    .works-title {
        font-size: 1.5rem;
        margin: 5% 0;
    }

    .container {
        display: flex;
    }
    .container img {
        max-width: 100%;
        margin: 0 1.5% 1.5% 0;
    }

    .mv {
        width: 100%;
        height: 270px;
        position: relative;
    }
    .mv-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: img-change 15s infinite;
        opacity: 0;
    }
    .mv-item:nth-child(1) {
        animation-delay: 0s;
    }
    .mv-item:nth-child(2) {
        animation-delay: 5s;
    }
    .mv-item:nth-child(3) {
        animation-delay: 10s;
    }
    .mv-item img {
        object-fit: cover;
    }

    @keyframes img-change {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        30% {
            opacity: 1;
        }
        40% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    /* ----- skills ----- */
    .grid {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-column: auto;
        grid-row: auto;
        margin-top: 8%;
        margin-bottom: 50px;
    }
    .grid-item img {
        max-width: 220px;
        max-height: 220px;
        display: block;
        margin: 5% auto;
        animation: rotation 1.2s;
    }

    @keyframes rotation {
        0% {
            opacity: 0;
            transform-origin: right bottom;
            transform: rotate(-60deg);
        }
        100% {
            opacity: 1;
            transform-origin: right bottom;
            transform: rotate(0);
        }
    }

    /* ----- footer ----- */
    footer {
        text-align: center;
        padding: 26px 0;
    }

    .pagetop {
        height: 45px;
        width: 45px;
        position: fixed;
        right: 25px;
        bottom: 25px;
        background: #fff;
        border: solid 2px #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .pagetop_arrow {
        height: 10px;
        width: 10px;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        transform: translateY(20%) rotate(-45deg);
    }
}